.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .screen .header {
    position: fixed; /* ヘッダーを固定位置に設定 */
    width: 2000px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #352f2f;
  }


  .screen .companyname {
    position: absolute;
    width: 204px;
    top: 8px;
    left: 65px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #fbf8f8;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .choice {
    position: absolute;
    top: 120px;
    left: 880px;
  }
  
  .screen .main-image {
    position: absolute;
    width: 500px;
    height: 600px;
    top: -47px;
    left: 20px;
    border-radius: 17px;
    object-fit: cover;
  }
  
  .screen .text-category {
    width: 244px;
    top: 410px;
    left: 40px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .LIKE-button, .screen .NOPE-button {
    position: absolute;
    top: 485px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    border: 2px solid; /* 枠線の太さを維持 */
    background: transparent; /* 背景色を透明に維持 */
    cursor: pointer; /* ホバー時のカーソルをポインタに維持 */
    border-radius: 20px; /* 角を丸くする */
    padding: 10px 20px; /* 内部の余白を調整してサイズを小さくする */
    transition: background-color 0.5s; /* 背景色の変化をよりゆっくりとさせる */
  }
  
  .screen .LIKE-button {
    top: 470px;
    left: 350px;
    -webkit-text-stroke: 1px #fe6df8;
    color: #fe6df8;
    border-color: #fe6df8;
  }
  
  .screen .NOPE-button {
    top: 470px;
    left: 60px;
    -webkit-text-stroke: 1px #b6fe6d;
    color: #b6fe6d;
    border-color: #b6fe6d;
  }
  
  .screen .LIKE-button:hover, .screen .NOPE-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 薄い背景色を適用 */
  }
  
  
  .screen .sub-image1 {
    position: absolute;
    width: 107px;
    height: 123px;
    top: 690px;
    left: 900px;
    border-radius: 17px;
    object-fit: cover;
  }
  
  .screen .sub-image2 {
    position: absolute;
    width: 107px;
    height: 123px;
    top: 690px;
    left: 1031px;
    border-radius: 17px;
    object-fit: cover;
  }
  
  .screen .sub-image3 {
    position: absolute;
    width: 107px;
    height: 123px;
    top: 690px;
    left: 1162px;
    border-radius: 17px;
    object-fit: cover;
  }
  
  .screen .sub-image4 {
    position: absolute;
    width: 107px;
    height: 123px;
    top: 690px;
    left: 1293px;
    border-radius: 17px;
    object-fit: cover;
  }
  
  
  .screen .explanation {
    width: 500px;
    top: 350px;
    left: 199px;
    color: transparent;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .span {
    color: #000000;
  }
  
  .screen .LIKE {
    color: #fe6df8;
  }
  
  .screen .supplement {
    top: 769px;
    left: 291px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .next {
    position: absolute;
    width: 304px;
    height: 63px;
    top: 600px;
    left: 296px;
  }
  
  .next-button {
    position: relative; /* ボタンの配置にはrelativeを推奨 */
    width: 186px;
    height: 63px;
    background-color: #d9d9d9;
    border-radius: 40px;
    border: none;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    cursor: pointer; /* ホバー時のカーソルを指に */
  }
  

  