* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ナビゲーションのスタイル設定 */
nav {
    width: 100%;
    background-color: #17191C;
    height: 62px;
    display: flex;
    z-index: 10; /* ナビゲーションのz-indexを設定 */
    position: relative; /* z-indexを効果的にするために必要 */
}

.logo_pic {
    margin-top: 5px;
    margin-left: 8px;
    height: 51px;
}

.head_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* ログインボタンのスタイル */
.login-button a {
    display: inline-block;
    background-color: #000; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    border: 2px solid #fff; /* ボタンの境界線 */
    border-radius: 20px; /* 角の丸み */
    text-decoration: none;
    font-weight: bold;
    z-index: 10; /* ボタンのz-indexを設定 */
}

.login-button a:hover {
    background-color: #555; /* ホバー時の背景色 */
}

.login-button {
    position: absolute;
    right: 10%;
    margin-top: 7px;
    z-index: 10; /* ボタンのz-indexを設定 */
}

#slideshow {
    position: relative;
    max-height: 790px; /* 最大高さを指定 */
    width: 100vw; /* 画面幅全体 */
    overflow: hidden;
    z-index: 1; /* スライドショーのz-indexを低く設定 */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* 最初はすべてのスライドを非表示にする */
    transition: opacity 1s; /* 透明度の変化にトランジション効果を追加 */
    animation: zoomOut 10s infinite;
    margin-top: -62px;
}

/* ズームアウトアニメーション */
@keyframes zoomOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#mainimg {
    position: relative;
    max-height: 790px; /* 最大高さを指定 */
    width: 100vw; /* 画面幅全体 */
    overflow: hidden;
    z-index: 1; /* スライドショーのz-indexを低く設定 */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* 最初はすべてのスライドを非表示にする */
    transition: opacity 1s; /* 透明度の変化にトランジション効果を追加 */
    animation: zoomOut 10s infinite;
}

#mainimg h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* スライド上のテキストを前面に表示 */
    color: white; /* テキストの色 */
    text-align: center; /* テキストを中央揃え */
    /* 必要に応じて他のスタイルを追加 */
}

/* ズームアウトアニメーション */
@keyframes zoomOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
