*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ナビゲーションのスタイル設定 */
nav {
    width: 100%;
    background-color: #17191C;
    height: 62px;
    display: flex;
}

.logo_pic{
    margin-top: 5px;
    margin-left: 8px;
    height: 51px;
}

.head_block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* ログインボタンのスタイル */
.login-button a {
    display: inline-block;
    background-color: #000; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    border: 2px solid #fff; /* ボタンの境界線 */
    border-radius: 20px; /* 角の丸み */
    text-decoration: none;
    font-weight: bold;
}
  
.login-button a:hover {
    background-color: #555; /* ホバー時の背景色 */
}

.login-button{
    position: absolute;
    right: 10%;
    margin-top: 7px;
}

#slideshow {
    position: relative;
    max-height: 790px; /* 最大高さを指定 */
    width: 100vw; /* 画面幅全体 */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* 最初はすべてのスライドを非表示にする */
    transition: opacity 1s; /* 透明度の変化にトランジション効果を追加 */
    animation: zoomOut 10s infinite;
  }
  
  /* ズームアウトアニメーション */
  @keyframes zoomOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  