.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
.screen .header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #352f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .screen .companyname a {
    font-family: "Inter-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none; /* 下線を取り除く */
    cursor: pointer; /* カーソルをポインタ（指）に変更 */
    color: #fbf8f8; /* リンクの色を設定（必要に応じて変更） */
  }
   

/* ログアウトボタンのスタイル */
.screen .header .logout-button a {
    display: inline-block;
    background-color: #000; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    border: 2px solid #fff; /* ボタンの境界線 */
    border-radius: 20px; /* 角の丸み */
    text-decoration: none;
    font-weight: bold;
    z-index: 10; /* ボタンのz-indexを設定 */
  }
  
  .screen .header .logout-button a:hover {
    background-color: #555; /* ホバー時の背景色 */
  }
  
  .screen .header .logout-button {
    position: absolute;
    right: 60px; /* 右端に配置 */
    top: 7px; /* ヘッダーの上からの距離を微調整 */
    z-index: 10; /* ボタンのz-indexを設定 */
  }
  
  /* プロフィールボタンのスタイル */
  .screen .header .profile-button a {
    display: inline-block;
    background-color: #000; /* ボタンの背景色 */
    color: white;
    padding: 10px 20px;
    border: 2px solid #fff; /* ボタンの境界線 */
    border-radius: 20px; /* 角の丸み */
    text-decoration: none;
    font-weight: bold;
    z-index: 10; /* ボタンのz-indexを設定 */
  }
  
  .screen .header .profile-button a:hover {
    background-color: #555; /* ホバー時の背景色 */
  }
  
  .screen .header .profile-button {
    position: absolute;
    right: 230px; /* 右端に配置 */
    top: 7px; /* ヘッダーの上からの距離を微調整 */
    z-index: 10; /* ボタンのz-indexを設定 */
  }

.tabs {
    margin-top: -100px;
    margin-left: 0px;
    padding-bottom: 40px;
    width: 1000px;
    /*margin: 0 auto;*/
    vertical-align: middle;
    position: absolute;
    top: 230px;
    left: 230px;
}
   
  
input[name="tab-items"] {
    display: none;
}


  
.tab-content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    /*overflow: hidden;*/
}

.tab-content-sub {
    display: none;
    clear: both;
}
  
  
#closet:checked~#closet-content,
#coordination:checked~#coordination-content,
#post:checked~#post-content,
#all:checked ~#all-content,
#bottoms:checked~#bottoms-content,
#shoes:checked~#shoes-content,
#tops:checked~#tops-content,
#others:checked~#others-content,
#accessories:checked~#accessories-content{
    display: block;
}

  
  

.tabs input:not(:checked) + .tab-team {
    color: gray;
    font-size: 20px;
}

.tabs input:checked + .tab-team {
    color: black;
    border-bottom: 3px solid;
    border-width: medium;
    border-color: #C0C0C0;
    font-size: 30px;
}



.tab-team {
    margin-left: 130px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}







#all-content ul,
#bottoms-content ul,
#shoes-content ul,
#tops-content ul,
#accessories-content ul,
#others-content ul,
#coordination-content ul,
#post-content ul{
	width: calc(100 + 20px);
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
    list-style-type: none;
}

#all-content li,
#bottoms-content li,
#shoes-content li,
#tops-content li,
#accessories-content li,
#others-content li,
#coordination-content li,
#post-content li{
	padding: 0 10px 20px;
}




#all-content li a,
#all-content li a:visited,
#bottoms-content li a,
#bottoms-content li a:visited,
#coordination-content li a,
#coordination-content li a:visited {
	text-decoration: none;
	color: #111;
}


#all-content li p,
#coordination-content li p{
	font-size: 90%;
	margin-bottom: 3px;
}


#all-content li span, 
#coordination-content li span{
	font-size: 80%;
	display: block;
}




#all-content img,
#bottoms-content img,
#shoes-content img,
#tops-content img,
#others-content img,
#accessories-content img {
    border: 1px solid;
    border-radius: 30%;
    
}





#coordination-content,
#post-content {
    margin-left: -70px;
    margin-top: -20px;
}

#coordination-content img,
#post-content img {
    border-radius: 10%;
}

#coordination-content li,
#post-content li{
    width: calc(100% / 6);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.myModal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.myModal .modal-content {
    color: white;
    background-color: #352F2F;
    margin: auto;
    margin-top: 74px;
    padding: 10px;
    border: 1px solid #352F2F;
    width: 1050px;
    height: 750px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
    position: relative;
    overflow: hidden;
    display: flex;
    left: 20px;
}

.myModal .close {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 28px;
    font-weight: bold;
  
}

.upload-show{
    position: absolute;
    width: 350px;
    height: 622px;
    left: 30px;
    top: 80px;
    
}

  .upload-show video,
  .upload-show img {
    max-width: 100%; 
    max-height: 100%; 
  }

#post-coordination10 {
    position: absolute;
    top: 30px;
    width: 50%;
    height: 640px;
}

#infoForm10 {
    position: absolute;
    display: flex;
    width: 98%;
    height: 730px;
}

.custom-file-upload {
    position: absolute;
    top: 10px;
    left: 65px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50; /* 邱題牡 */
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.modal-title{
    font-size: 28px;
    margin-left: 18px;
}

.post_button{
    position: absolute;
    right: 50px;
    bottom: 0px;
    width: 150px;
    height: 50px;
}

.AI-mode_button{
    position: absolute;
    top: 20px;
    right: 120px;
    width: 190px;
    height: 40px;
    background-color: #352f2fba;
    color: aliceblue;
    z-index: 1000;
}

.hand-mode{
    position: absolute;
    top: 20px;
    right: 360px;
    width: 190px;
    height: 40px;
    background-color: #352f2fba;
    color: aliceblue;
    z-index: 1000;
}

.check_items_container{
    position: absolute;
    top: 70px;
    left: 450px;
    width: 530px;
    height: 600px;
    background-color: #ffffff;
    overflow-y: scroll;
    padding: 10px;
}

.add_item_block{
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
}

.add_item_pic{
    height: 180px;
    width: 180px;
    border: 1px solid #beb6b6;
    border-radius: 40px;
    overflow: hidden;
    display: flex; /* Flexbox繧ｳ繝ｳ繝�リ繧貞ｮ夂ｾｩ */
    justify-content: center; /* 豌ｴ蟷ｳ譁ｹ蜷代�荳ｭ螟ｮ謠�∴ */
    align-items: center; /* 蝙ら峩譁ｹ蜷代�荳ｭ螟ｮ謠�∴ */
    background-color: #fff;
    margin-left: 10px;
}

.add_item_pic img {
    max-width: 100%; /* 繧ｳ繝ｳ繝�リ繧定ｶ�∴縺ｪ縺�ｈ縺�↓譛螟ｧ蟷�ｒ險ｭ螳� */
    max-height: 100%; /* 繧ｳ繝ｳ繝�リ繧定ｶ�∴縺ｪ縺�ｈ縺�↓譛螟ｧ鬮倥＆繧定ｨｭ螳� */
    object-fit: contain; /* 逕ｻ蜒上�繧｢繧ｹ繝壹け繝域ｯ斐ｒ菫昴■縺ｪ縺後ｉ譛螟ｧ繧ｵ繧､繧ｺ縺ｫ繝輔ぅ繝�ヨ */
}

.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .horizontal-line1,
  .horizontal-line2 {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
  }

.form-price{
    position: absolute;
    top: 20px;
    right: 60px;
    display: flex;
}

.form-style{
    position: absolute;
    top: 62px;
    right: 60px;
    display: flex;
}

.form-category{
    position: absolute;
    top: 104px;
    right: 60px;
    display: flex;
}

.form-brand{
    position: absolute;
    top: 146px;
    right: 60px;
    display: flex;
}

.topic{
    color: black;
    width: 80px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
}

.form-control{
    width: 150px;
    margin-left: -2px;
}

.background_white{
    position: absolute;
    top: 0px;
    left: 435px;
    height: 750px;
    width: 650px;
    background-color: white;
}






















  
/*.modal-content {
    color: black;
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 80% auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
  
}*/
  
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  
}

.close:hover,  
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#infoForm {
    display: flex;
}

#myBtn {
    border-radius: 10%;
    
}


#closetBtn {
    border: none;
    border-radius: 30%;
}


#post-coordination {
    margin-left: 60px;
    margin-top: 30px;
}
#img-items {
    margin-left: 10px;
    margin-top: 30px;
}

#input-status {
    margin-left: 390px;
    top: -10px;
    border: 2px solid ;
    padding: 10px;
}








#button-save {
    position: absolute;
    margin-top: 350px;
    margin-left: 105px;
    width: 170px; 
    height: 50px; 
    background-color: #d9d9d9; 
    border-radius: 40px; 
    font-family: "Inter-Black", Helvetica; /* フォント */
    font-weight: 900; /* フォントウェイト */
    color: #000000; /* 色 */
    font-size: 20px; /* フォントサイズ */
    letter-spacing: 0; /* letter-spacing */
    line-height: normal; /* のline-height */
    border: none; /* ボーダーを削除 */
    cursor: pointer; /* ホバー時のカーソルを指示する */
    outline: none; /* フォーカス時のアウトラインを削除 */
    display: flex; /* テキストを中央に配置 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
}

/*post-coordination縺ｮ蜀咏悄隱ｿ謨ｴ*/
.imageContainer_whole img{
    height: 300px;
    width: 200px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;

}

.imageContainer_part img{
    height: 100px;
    width: 100px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.imageContainer_closet img{
    height: 250px;
    width: 250px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-top: 50px;
    margin-left: 50px;
}

  



.hunger-button {
    width: 60%;
    height: auto;
    outline: none; 
    border: none; 
}

.mov_button{
    width: 220px;
    height: 391px;
    position: relative;
    right: -30px; /* 右に50pxずらすためには、マイナス値を使用 */
    top: 50px; /* 下に10pxずらす */
}

.closetmodal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    left: 50px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.closet {
    position: absolute;
    margin-top: -35px;
    margin-left: -45px;
}
