<!DOCTYPE html>
<html lang="ja">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>

</head>
    <body>
        <div class="screen">
            <header class="header">
                <div class="companyname">Cloudrobe</div>
                <div class="logout-button">
                    <a href="/logout">ログアウト</a>
                </div>
                <div class="profile-button">
                    <a href="/profile">プロフィール</a>
                </div>

            </header>
          
            <div class="closet">
                <div class="data-input"></div>
            </div>
            
            <label for="imageUpload" class="image-upload-label" id="imageUploadLabel">
                <img class="hunger-button" src="../static/image/hunger.jpg" />
            </label>   
            
            
            <div id="closet-modal" class="closetmodal">
                <div class="closet-modal-content">
                    <span class="closet-close">&times;</span>
                    <h2 class="closet-modal-title">My Closet</h2>
                    <div id="closetInfo">
                        {% if closet %}
                        {% for item in closet %}
                        <div class="closet-item">
                            <div class="add-button-container">
                                <button class="add-button" data-image="{{ item.image }}" data-style_id="{{ item.style_id}}"data-category="{{ item.category }}" data-brand="{{ item.brand }}">追加</button>
                            </div>
                            <img src="{{ item.image }}" alt="Closet Item" style="width: 250px; height: 250px; border-radius: 40px; border: 2px solid black;">

                            <div class="text-info">
                                <p>系統: {{ item.style_id }}</p>
                                <p>カテゴリ: {{ item.category }}</p>
                                <p>ブランド: {{ item.brand }}</p>
                            </div>
                        </div>
                        
                        
                        {% endfor %}

                    
                            
                        {% else %}
                        <p class="closet-error-message">登録されている服がありません。</p>
                        <div class="button-container">
                            <a href="/profile" class="closet-add-button">登録</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            

            
            <button class="button-save">保存</button>
        </div>
    </body>
</html>