<!DOCTYPE html>
<html lang="ja">
<head>

  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/css/styles_Introduction.css">
  <script src="../static/js/Introduction.js"></script>

</head>
<body>
    <div class="screen">
      
      <header class="header">
        <div class="companyname">Cloudrobe</div>
      </header>
        
      <div class="choice">
        <img class="main-image"/>
        <div class="text-category">ストリート系</div>
        <button class="LIKE-button">LIKE</button>
        <button class="NOPE-button">NOPE</button>
      </div>
        
      <div class="sub-image">
        <img class="sub-image1 rectangle-clickable" src="../static/image/Street1.jpg" />
        <img class="sub-image2 rectangle-clickable" src="../static/image/Street2.jpg" />
        <img class="sub-image3 rectangle-clickable" src="../static/image/Street3.jpg" />          
        <img class="sub-image4 rectangle-clickable" src="../static/image/Street4.jpg" />
      </div>
        
      <p class="explanation">
        <span class="span">自分の好きを</span>
        <span class="LIKE">LIKE</span>
        <span class="span">しよう</span>
     </p>
        
     <div class="supplement">後で変更することもできます</div>
        
     <div class="next">
      <button class="next-button" id="next-button">次に進む</button>
    </div>
    
  </div>
  
</body>
</html>