<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="js/profile.js">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/profile.js"></script>
    <script src="../static/js/profile2.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="screen">
    <header class="header">
      <div class="companyname">
        <a href="/home">Cloudrobe</a>
      </div>
      <div class="logout-button">
          <a href="/logout">ログアウト</a>
      </div>
      <div class="profile-button">
          <a href="/profile">My Page</a>
      </div>

  </header>




<!--メインタブ-->
    <div class="tabs">
      <input id="closet" type="radio" name="tab-items" checked>
      <label class="tab-team" for="closet">クローゼット</label>
      <input id="coordination" type="radio" name="tab-items">
      <label class="tab-team" for="coordination">保存済みコーデ</label>
      <input id="post" type="radio" name="tab-items">
      <label class="tab-team" for="post">投稿</label>

      <!--クローゼットのタブ-->


      <!--保存済みコーデのタブ-->
      <div class="tab-content" id="coordination-content"></div>

      <!--マイコーデのタブ-->
      <div class="tab-content" id="post-content">
        <ul>
          <li>
            <button id="myBtn" class="mov_button">
              <img class="hunger-button" src="../static/image/hunger.jpg">
          </button>
          <input type="file" id="fileInput" style="display: none;" onchange="displayImage(event, 'imageContainer')">
          </li>
          {% for item in posted_items %}
          <li>
            <a href="{{ item.link }}"><img src="{{ item.image_url }}" width="110" height="200"/></a>
          </li>
          {% endfor %}
        </ul>
      </div>


      <!--モーダルウインドウ-->
      <!-- モーダル内容 -->
     <div id="myModal" class="myModal">
      <div class="modal-content">
        <div class="background_white"></div>
        <span class="close">&times;</span>
        <h3 class="modal-title">投稿のアップロード</h3>
        <button id="AI-mode" class="AI-mode_button">AIモードを使用する</button>
        <button type="button" id="hand-mode" class="hand-mode">カメラロールから選択</button>
        <!-- 実際にファイルを選択するための隠れたinput要素 -->
        <input type="file" id="hidden-file-input" style="display: none;" onchange="fileSelected(event)">
        <div id="infoForm10">
          <div id="post-coordination10">
            <!-- ファイル選択用の input 要素 -->
            <!-- 隠れたファイル入力 -->
            <input type="file" id="uploadInput10" style="display: none;" onchange="displayImage10(event, 'upload-show')">
            <!-- カスタムデザインのラベル -->
            <label for="uploadInput10" class="custom-file-upload">カメラロールから写真を選ぶ</label>
            <!-- 選択された写真・動画を表示する領域 -->
            <div id="upload-show" class="upload-show"></div>
          </div>
          <input type="submit" id="post_button" class="post_button" value="アップロード">
        </div>
        <!-- アイテムを追加するためのボタン -->
        <div id="itemsContainer" class="check_items_container">
          <!-- <div class="add_item_block">
            <div class="add_item_pic">
                <img src="../static/image/sample3.png">
            </div>
              <div class="form-price">
                <label class="topic" for="price">価格</label>
                <input type="text" id="price" name="price" class="form-control" value="¥100,000">
              </div>
            
              <div class="form-style">
                <label class="topic" for="style">系統</label>
                <select id="style" name="style" class="form-control">
                    <option value="">選択してください</option>
                    <option value="casual">カジュアル</option>
                    <option value="formal">フォーマル</option>
                    <option value="sporty">スポーティ</option>
                   
                </select>
            </div>
            
            <div class="form-category">
                <label class="topic" for="category">カテゴリー</label>
                <select id="category" name="category" class="form-control">
                    <option value="">選択してください</option>
                    <option value="tops">トップス</option>
                    <option value="bottoms">ボトムス</option>
                    <option value="outerwear">シューズ</option>
             
                </select>
            </div>
            
            
              <div class="form-brand">
                <label class="topic" for="brand">ブランド</label>
                <input type="text" id="brand" name="brand" class="form-control">
              </div>
          </div> -->
          
        </div>
      </div>
    </div>


  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('AI-mode').addEventListener('click', function() {
        aiModeButtonClickHandler()
    });
});

function aiModeButtonClickHandler() {
    console.log("AIモードボタンが押されました。");
    // AIモードを有効化するコードをここに記述
}
  </script> -->
</div>
  </body>
</html>
